<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home</title>
  <link rel="stylesheet" href="/static/css/style.css"/>
</head>
<body>
  <nav class="main-nav">
    <a href="/extraccion" class="nav-link">Subida  Licitaciones</a>
    <a href="/licitaciones" class="nav-link">Licitaciones</a>

    <!-- ✅ NUEVO -->
    <a href="/control-room" class="nav-link">Control Room</a>
  </nav>

  <div class="container">
    <h1>Bienvenido al Sistema de IA</h1>
    <p>Usa el menú superior para navegar entre secciones.</p>
  </div>
</body>
</html>
